@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #111;

}

.con {
    padding-bottom: 10px;
}


*, html {
  margin:0;
  padding:0;  
}

.main {
  margin: 0;
}


  /* .gallery:focus-within ~ .gallery-cell,
  .gallery:hover .gallery-cell {
    transform: translateX(-10%);
  }
 
.gallery-cell:focus ~ .gallery-cell,
.gallery:hover .gallery-cell {
  transform: translateX(10%);
} */
.gallery-cell {
    border-radius: 1%;
}

.gallery .gallery-cell:focus,
.gallery .gallery-cell:hover {
  transform: scale(1.1);
  z-index: 1;
  /* display: block; */
}

/* .hide {
  display: none;
  color: white;
  z-index: 100;
} */

.flickity-button {
  background: transparent;
  
}


a {
    color: #818181;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1%;
}

.sw {
    width: 95.0%;
    height: 40vh;
    border-radius: 10px;
    display: flex;
}

.bigDiv {
    padding: 30px;
}


.lable {
  color: #818181;
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #818181; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c; 
}